@model IEnumerable<AppMVC.Models.Blog.Category>
@using AppMVC.Models.Blog;
@using System.Collections
@{
    ViewData["Title"] = "Bài viết";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Tạo mới </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           await RenderCategory(item, 0);
        }
    </tbody>
</table>

@{
    async Task RenderCategory(Category item, int space)
    {

        string prefix = String.Concat(Enumerable.Repeat("&nbsp", space));
        <tr>
            <td>
                @Html.Raw(prefix)
                <a asp-action="Edit" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                <a asp-action="Details" asp-route-id ="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
        if(item.CategoryChildren?.Count > 0 )
        {
            foreach ( var itemC in item.CategoryChildren)
            {
               await  RenderCategory(itemC, space + 4);
            }
        }
    }
}
